<form novalidate [formGroup]="form" class="demoForm">
  <div *ngFor="let prop of objectProps">
    <div [ngSwitch]="prop.type">

      <div *ngSwitchCase="'telephone'">
        <mat-form-field>
          <input type="tel" placeholder="{{prop.label}}" matInput [formControlName]="prop.key" [id]="prop.key"/>
          <mat-error *ngIf="form.hasError('max', [prop.key]) || form.hasError('min', [prop.key])">
            {{prop.label}} must be a valid 10 digit number
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'text'">
        <mat-form-field>
          <input type="text" placeholder="{{prop.label}}" matInput [formControlName]="prop.key" [id]="prop.key"/>
          <mat-error *ngIf="form.hasError('max', [prop.key]) || form.hasError('min', [prop.key])">
            {{prop.label}} is required.
          </mat-error>
        </mat-form-field>
      </div>

      <!--<div *ngSwitchCase="'file'">-->

      <!--<mat-form-field>-->
      <!--<input type="file" matInput [formControlName]="prop.key" [id]="prop.key"/>-->
      <!--<mat-error *ngIf="form.hasError('required', [prop.key]) && !form.pristine">-->
      <!--{{prop.label}} is required.-->
      <!--</mat-error>-->
      <!--</mat-form-field>-->
      <!--</div>-->

      <div *ngSwitchCase="'date'">
        <mat-form-field>
          <input matInput type="date" placeholder="{{prop.label}}" [formControlName]="prop.key" [id]="prop.key">
          <mat-error *ngIf="form.hasError('required', [prop.key]) && !form.pristine">
            {{prop.label}} must be a valid date
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'number'">
        <mat-form-field>
          <input matInput type="number" [formControlName]="prop.key" placeholder="{{prop.label}}" [id]="prop.key"/>

          <mat-error *ngIf="form.hasError('min', [prop.key])">
            {{prop.label}} must be at least {{form.get(prop.key).errors.min.min}}
          </mat-error>

          <mat-error *ngIf="form.hasError('max', [prop.key])"
                     class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
            {{prop.label}} can be no more than {{form.get(prop.key).errors.max.max}}
          </mat-error>

        </mat-form-field>
      </div>

      <div *ngSwitchCase="'radio'">
        <label [for]="prop.key">{{prop.label}}</label>
        <div class="mdc-radio" *ngFor="let option of prop.options">
          <input class="mdc-radio__native-control" type="radio" [id]="prop.key" name="radios"
                 [formControlName]="prop.key"
                 [value]="option.value"/>
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <label [for]="prop.key">{{option.label}}</label>
        </div>
      </div>

      <div *ngSwitchCase="'select'">
        <mat-form-field>
          <mat-select placeholder="{{prop.label}}" [formControlName]="prop.key" id="{{prop.id}}">
            <mat-option *ngFor="let option of prop.options" [value]="option.value">
              {{ option.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </div>

  <section>
    <button mat-raised-button color="primary" (click)="submitApplication()" [disabled]='!dataIsComplete()'>Submit
    </button>
  </section>

  <pre>{{displayValue |json}}</pre>

</form>
